@font-face {
    font-family: 'nintendoDS';
    src: url("assets/font/Nintendo-DS-BIOS.ttf");
}

:root {
    background-color: linen;
    font-family: 'nintendoDS';
}

a:link {
    color: darkred;
}

a:visited {
    color: darkred;
}

a:active {
    color: darkred;
}

a:hover {
    color: firebrick;
}
